<footer>
    <p>&copy; <strong>Group 25</strong> 2023</p>
    <a href="https://github.com/Abdullah-Haddad/Tournament_Bracket_Manager.git" target="_blank">
        <img src="../public/img/github-mark.png" alt="github logo" width="24px">
    </a>
    <br>
    <address>
        <p>Email: [emails]</p>
    </address>
</footer>


</body>
</html>