<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    
    <title>TBM</title>
</head>


<body>

    <!--Left Side of Web Page-->
    <header class="header">
        <a href="" class="logo">
            <img src="../public/img/trophy.png" alt="Image of a Gold trophy" width="65px">
        </a>
        


    <!--Navagation Bar-->
    <nav class="navbar">
        <a href="">Login</a>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Use</a>
    </nav>

    </header>