<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    

    <title>Tournament Bracket Manager</title>
</head>

<body>

    <header>
        <h1>
            Tournament Bracket Manager
        </h1>
    </header>

    <article>
        <p> lorem ipsum </p>
    </article>

    <footer>
        <p>&copy; [Names] 2023 </p>
        <a href="https://github.com/Abdullah-Haddad" >My Github <box-icon type='logo' name='github'></box-icon></a>
        <br>
        <address>
            <p>Email: [emails]</p>
        </address>
    </footer>

</body>
</html>