<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    
    <title>TBM</title>
</head>


<body>

    <!--Left Side of Web Page-->
    <header class="header">
        <h1>Tournament Bracker Manager</h1>


    <!--Navagation Bar-->
    <nav class="navbar">
        <a href="">Login</a>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">About</a>
    </nav>

    </header>

    <!--Main Components of the home page-->
    <div class="content">
        <div class="textbox">
            <h2>Welcome to the Basketball Tournment Manager</h2>
            <h3>Your Gateway to Seamless Tournament Management <br> Where you Empower Your Team, Elevate Your Tournaments!</h3>
            <div class="btn-box">
                <a href="">Sign Up Now</a>
                <a href=""> Get Started</a>
            </div>
        </div>
        
    </div>


    <!--Footer of Webpage-->
    <footer>
        <p>&copy; [Names] 2023 </p>
        <a href="https://github.com/Abdullah-Haddad">My Github</a>
        <br>
        <address>
            <p>Email: [emails]</p>
        </address>
    </footer>

    
</body>
</html>