<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    
    <title>TBM</title>
</head>


<body>

    <!--Left Side of Web Page-->
    <header class="header">
        <a href="" class="logo">
            <img src="../public/img/trophy.png" alt="Image of a Gold trophy" width="65px">
        </a>
        


    <!--Navagation Bar-->
    <nav class="navbar">
        <a href="">Login</a>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Use</a>
    </nav>

    </header>

    <!--Main Components of the home page-->
    <div class="content">
        <div class="textbox">
            <h1>Welcome To The Tournament Bracket Manager</h1>
            <h2>Your Gateway to Seamless Tournament Management</h3>
            <p>Here, users can input eight teams, and upon submission, the system generates matchups, presenting an organized set of teams ready to compete in the tournament.</p>
            <div class="btn-box">
                <a href="#">Sign Up Now</a>
                <a href="#"> Get Started</a>
            </div>
        </div>
        
    </div>



    <!--Footer of Webpage-->
    <footer>
        <p>&copy; <strong>Group 25</strong> 2023</p>
        <a href="https://github.com/Abdullah-Haddad/Tournament_Bracket_Manager.git" target="_blank">
            <img src="../public/img/github-mark.png" alt="github logo" width="24px">
        </a>
        <br>
        <address>
            <p>Email: [emails]</p>
        </address>
    </footer>

    
</body>
</html>