<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="/scripts/teams_list.js"></script>

    <title>Tournament Bracket Manager</title>
</head>

<body>

    <header>
        <h1>
            Teams List
        </h1>
    </header>

    <article>
        <p> 
            <form action="/submit" method="post">
                <% for (let i = 1; i <= 8; i++) { %>
                    <label for="team<%= i %>">Team <%= i %></label>
                    <input class="field" type="text" name="team<%= i %>" size="32">
                <% } %> <!--Code suggestion by ChatGPT--> 

                <input class = "button" type="reset" value="Clear">

                <button type = "button" id = "randomize">Randomize</button>

                <button type="submit">Load</button>

                
               
            </form>
        </p>
    </article>

    <footer>
        <p>&copy; [Names] 2023 </p>
        <a href="https://github.com/Abdullah-Haddad">My Github</a>
        <br>
        <address>
            <p>Emails: [emails]</p>
        </address>
    </footer>

</body>
</html>