<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="/client_scripts/teams_list_script.js"></script>

    <title>Tournament Bracket Manager</title>
</head>

<body>

    <header>
        <h1>
            Teams List
        </h1>
    </header>

    <article>
        <p> 
            <form id="team_form">
                
                <h2>Enter Teams</h2>

                <label for="team1">Team 1:</label>
                <input type="text" id="team1">

                VS.

                <label for="team2">Team 2:</label>
                <input type="text" id="team2">

                <hr>

                <label for="team3">Team 3:</label>
                <input type="text" id="team3">

                VS.

                <label for="team4">Team 4:</label>
                <input type="text" id="team4">

                <hr>

                <label for="team5">Team 5:</label>
                <input type="text" id="team5">

                VS.

                <label for="team6">Team 6:</label>
                <input type="text" id="team6">

                <hr>

                <label for="team7">Team 7:</label>
                <input type="text" name="team7">

                VS.

                <label for="team8">Team 8:</label>
                <input type="text" name="team8">

                <hr>

                <label for="team9">Team 9:</label>
                <input type="text" name="team9">

                VS.

                <label for="team10">Team 10:</label>
                <input type="text" name="team10">

                <hr>

                <label for="team11">Team 11:</label>
                <input type="text" name="team11">

                VS.

                <label for="team12">Team 12:</label>
                <input type="text" name="team12">

                <hr>

                <label for="team13">Team 13:</label>
                <input type="text" name="team13">

                VS.

                <label for="team14">Team 14:</label>
                <input type="text" name="team14">

                <hr>

                <label for="team15">Team 15:</label>
                <input type="text" name="team15">

                VS.

                <label for="team16">Team 16:</label>
                <input type="text" name="team16">

                <hr>

                <button type="button" onclick="collect_submitted_teams()">Submit</button>
                <button type="button" onclick="toggle_randomizer()" id="toggle_button">Random</button>
                <input type="reset" class="button" value="Clear">

            </form>
        </p>
    </article>

    <footer>
        <p>&copy; [Names] 2023 </p>
        <a href="https://github.com/Abdullah-Haddad">Github</a>
        <br>
        <address>
            <p>Emails: [emails]</p>
        </address>
    </footer>

</body>
</html>
