<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/public/Js/tournament_bracket.js"></script>
    <title>Tournament Bracket Manager</title>
</head>

<body>

    <header>
        <h1>
            Tournament Bracket
        </h1>
    </header>

    <footer>
        <p>&copy; [Names] 2023 </p>
        <a href="https://github.com/Abdullah-Haddad">My Github</a>
        <br>
        <address>
            <p>Email: [emails]</p>
        </address>
    </footer>

</body>
</html>